@page "/images/duplicate-images"
@using AStar.Dev.Web.Components.Pages.Shared

<PageTitle>@App.PageTitle("Duplicate Images")</PageTitle>

<h1>Duplicate Images</h1>

<Search OnValidSubmit="@HandleValidSubmit"/>
