
@page "/"

<PageTitle>@App.PageTitle("Home")</PageTitle>

<h1>Welcome to the AStar Development website!</h1>

<p>Welcome to the AStar Development website. This site is not real, AStar Development is not a real company - this site is just a playground for me.</p>

<p>That said, there are a plethora of NuGet packages published under the AStar Development banner and all are fully supported - all I ask is a little patience in resolving any issues reported.</p>

<p>Thanks in advance.</p>

<p>This version of the site is still under construction. The enhancements include:</p>

<ul>
    <li>Moving to the <a href="https://www.fluentui-blazor.net" target="_blank">Microsoft Fluent UI Blazor library</a>.</li>
    <li>Using AI to help write the code. No, I am not incapable of writing code (after 30+ years in the industry, I am pretty sure I can create "Hello, World!!"), this is just a good opportunity to
        see what AI can do. As you have probably seen elsewhere, AI can be very useful, in many areas including:
        <ul>
            <li>AI can help with boilerplate code generation</li>
            <li>It's useful for exploring new frameworks and libraries</li>
            <li>Great for getting different approaches to solve problems</li>
        </ul>
    </li>
    <li>
        After initially spending 1+ hour with ChatGPT5 trying to get something as simple as the user's firstname from the EntraId claims and failing to get anything remotely useful out of it, I
        swapped to Claude 4 Sonnet AI and had the code I wanted generated for me with a single request. This led me to the simple conclusion that:
        <ul>
            <li>I am not sure if Claude 4 Sonnet AI is a better than ChatGPT, but the initial trial was successful and was a good example of how AI can be used to help write code when you have the
                correct model / LLM.
            </li>
            <li>I will continue to use ChatGPT5 initially and, when that fails (or I simply want a different answer), I will use Claude 4 Sonnet AI to develop this site - we will see which wins over
                time... it is fair to say that a) I have my suspicions and b) your mileage may vary...
            </li>
            <li>The "decision" to focus on ChatGPT5 is largely based on my less-than scientific research which suggests ChatGPT5 is the current leader in code-generation, we will see if the research
                is reflected in the code generated here...
            </li>
        </ul>
    </li>
</ul>
