@page "/nuget-documentation"


<PageTitle>@App.PageTitle("NuGet Documentation")</PageTitle>

<h3>NuGet Documentation</h3>

<p>Please select the package you are interested in from the list below (more items will be added, so please check back regularly)</p>

<NavLink class="nav-link" href="nuget-documentation/astar-dev-functional-extensions">
    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> AStar Dev Functional Results
</NavLink>
